
.appliedcompany-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  margin-left: 0px;
 
}

.appliedcompany-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 400px; /* Reduced card width */
  background-color: #fbf9f9; /* Professional background color */
  margin-left: 20px;
  margin-bottom: 20px;
}

.appliedcompany-card h2 {
  margin-top: 0;
  margin-left: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 18px; /* Smaller font size */
  color: #333; /* Darker text color */
}

.head {
  margin-left: 20px;
  color: hsl(114, 33%, 6%); /* Darker text color */
  font-size: 24px; /* Larger font size */
  /* Apply a 3D animation */

}


.appliedcompany-card p {
  margin: 5px 0;
  font-size: 16px; /* Smaller font size */
  margin-left: 0;
}
